
body {
	background-color: aliceblue;
}

h1 {
	color : brown;
	text-align: center;
}

header {
	border-bottom: 1px solid;
}

ul {
	border:dotted;
}

a {
	text-decoration: none;
}

p {
	font-family:휴먼편지체;
	font-size : 1em;
	text-indent: 1em;
}

h2 {
	color:blue;
	text-shadow:2px 2px skyblue;
}

footer {
	background-color: orange;
	border-radius: 50px;
}